body {
    background-image: url('/imgs/Dungeon-Door.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1{
    text-align: center;
}

.action-button {
    width: 50%;
    height: 5vh; 
    text-align: center;
    margin-top: 20px;
}


#action-buttons {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center align the buttons horizontally */

}