body {
    background-image: url('/imgs/Dungeon-Door.gif'); /* Replace 'your-image.jpg' with the path to your background image */
    background-repeat: no-repeat; /* Prevent the GIF from repeating */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1{
    text-align: center;
}

.action-button {
    width: 70%;
    height: 5vh; 
    text-align: center;
}


#action-buttons {
    display: flex;
    justify-content: center;
}